global
    log stdout format raw local0
    maxconn 200

defaults
    log     global
    mode    tcp
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend pg_front
    bind *:5432
    default_backend pg_back

backend pg_back
    option httpchk GET /
    http-check expect status 200
    server pg1 192.168.200.170:5432 check port 8008 inter 3s fall 2 rise 2
    server pg2 192.168.200.171:5432 check port 8008 inter 3s fall 2 rise 2

listen stats
    bind *:7000
    stats enable
    stats uri /
